<h1>Posts</h1>

<div class="pull-right">
<%= link_to "New Post", new_post_path, class: "btn btn-primary"%>
</div>

<div class="well">
	<div id="top-form-funtime">
	</div>
</div>

<%= render @posts %>
